<div class="row mx-4 mt-4">
  <div class="col-3 bg-dark">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum sunt ex asperiores? Repudiandae officiis vero minima, odio inventore nostrum ducimus consectetur corrupti, error, cumque hic. Tenetur natus odio non vero!</p>
  </div>
  <div class="col-9 pr-0">
    <!-- Jumbotron -->
    <div class="jumbotron jumbo-custom">
      <div class="container">
        <h1 class="display-4">Facebook Clone</h1>
        <p class="lead">New ways to find and join communities</p>
      </div>
    </div>
    
    <!-- suggested friends -->
  </div>
  <div class="col-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis iure similique voluptate, perspiciatis ad ducimus ab sed? Iure, voluptate excepturi, exercitationem tenetur illum aut nemo placeat et doloremque reprehenderit at.</div>
  <div class="col-9 pr-0">
    <div class="custom-card-container my-4">
      <%= render @suggested_people %>
    </div>
  </div>
</div>
