<div class="row mx-4 mt-4">
  <div class="col-3 bg-dark">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum sunt ex asperiores? Repudiandae officiis vero minima, odio inventore nostrum ducimus consectetur corrupti, error, cumque hic. Tenetur natus odio non vero!</p>
  </div>
  <div class="col-9 pr-0">
    <div class="jumbotron jumbo-custom">
      <div class="container">
        <h1 class="display-4">Facebook Clone</h1>
        <p class="lead">New ways to find and join communities</p>
      </div>
    </div>
  </div>
</div>
