/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'pages';

body {
  position: relative;
}

.navigation {
  top: 0;
  z-index: 1000;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.2);

  a {
    padding: 0 20px;
  }

  .nav-box {
    height: 75px;
    display: flex;
    align-items: center;
  }

  .main-nav-link,
  .main-nav-link:link,
  .main-nav-link:visited {
    text-decoration: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;

    padding-right: 20px;
    padding-left: 20px;
    transition: all .3s;
    color: gray !important;
  }

  .main-nav-link:hover,
  .main-nav-link:active {
    border-top: 4px solid #007bff;
    border-bottom: 4px solid #007bff;
    padding-top: 22px;
    padding-bottom: 23px;
    color: #007bff !important;
  }

  img {
    height: 60px;
  }
}