// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbo-custom {
  min-height: 100%;
  background: url('https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80'), rgba($color: #000000, $alpha: 0.3);
  height: 500px;
  background-position: bottom;
  background-size: cover;
  background-blend-mode: multiply;
}

.custom-sm-font {
  font-size: 15px;
}

.custom-card-container {
  min-width: 100%;
  min-height: 200px;
  display: flex;
  overflow-x: auto;
}

.custom-card-container::-webkit-scrollbar {
  display: none;
}

.custom-card {
  min-width: 20rem;
  margin-right: 5px;
}

.custom-status {
  background-color: #eeeeee;
  border-radius: 20000px;
}

.custom-background {
  background-color: #F2F3F5;
}

.custom-icon-size {
  font-size: 25px !important;
}

.icon {
  &-blue {
    color: #4A90E2 !important;
  }

  &-red {
    color: #F14742;
  }

  &-yellow {
    color: #F7B239;
  }
}

.post-input {
  flex-grow: 1;

  input {
    width: 100%;
    border: none;
    height: 50px;
  }

}

.gravatar-size {
  width: 70px;
  height: 70px;
  align-self: center;
}